@import "./font";

$blue: #4D6D9A;

:root {
    --blue-color: #4D6D9A;
    --blue-light-color: #86B3D1;
    --blue-light-text-color: #B2D2FE;
    --green-color: #99CED3;
    --green-light-color: #B5EDCC;
    --green-black-color: #356A6F;
    --red-light-color: #EDB5BF;
    --red-black-color: #753D47;
    --white-color: #fff;
    --gray-color: #D6D6D6;
    --dark-gray-color: #5F6366;
    --black-color: #353535;
    --black-light-color: #858585;
    --bg-lines-color: #EBEFF2;
    --orange-color: #EDD6B5;
    --orange-black-color: #755E3D;
    --purple-color: #B7B5ED;

    --bs-body-font-family: "Hero", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-font-size: 16px;
    --bs-body-font-weight: normal;
    --bs-body-line-height: 1.25;
    --bs-body-color: var(--black-color);

    --space: 120px;
}

@mixin hard-font {
    font-family: 'DeleddaOpen';
    font-weight: bold;
    line-height: 1.1;
    color: var(--dark-gray-color);
    --back-color: var(--gray-color);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    @include hard-font;
}

h1, .h1 {
    font-size: 72px;
}

h2, .h2 {
    font-size: 36px;
}

h3, .h3 {
    font-size: 28px;
}

h4, .h4 {
    font-size: 20px;
}

a {
    &:not(.btn) {
        --link-color: var(--blue-color);
        --link-hover-color: var(--blue-light-color);
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: var(--link-color);
        border-bottom: 1px dashed var(--link-color);
        transition: color .3s ease-in-out, border-color .3s ease-in-out;

        &:hover {
            color: var(--link-hover-color);
            border-color: var(--link-hover-color);
        }
    }
}

.btn {
    --bs-btn-border-radius: 25px;
    --bs-btn-border-width: 0px;
    --bs-btn-font-family: inherit;
    --bs-btn-font-size: inherit;
    --bs-btn-font-weight: inherit;
    --bs-btn-line-height: inherit;

    --btn-padd-x: 24px;
    --btn-padd-y: 12px;
    --btn-gap: 12px;
    --btn-icon-size: 40px;
    --btn-outline-border: var(--bs-btn-bg);
    padding-top: calc(var(--btn-padd-y) - 1px);
    padding-bottom: calc(var(--btn-padd-y) + 1px);
    padding-right: var(--btn-padd-x);
    padding-left: var(--btn-padd-x);
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: var(--btn-gap);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &.btn-component {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid var(--btn-outline-border);
            border-radius: var(--bs-btn-border-radius);
            transition: transform 0.3s ease-in-out, border-color .3s ease-in-out;
        }
    }

    .link-text {
        &:empty {
            display: none;
        }
    }

    .left-icon {
        svg {
            stroke: var(--bs-btn-color);
            fill: var(--bs-btn-color);
            transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
        }
    }
    
    &:hover, &.active, &:active {
        
        &.btn-component {
            &::before {
                transform: translate(6px, 6px);
            }
        }

        .left-icon {
            svg {
                stroke: var(--bs-btn-hover-color);
                fill: var(--bs-btn-hover-color);
            }
        }

    }

    &:active {
        .right-icon {
            transform: scale(0.85);
        }
    }

    &:focus-visible {
        box-shadow: none;
    }

    .right-icon {
        position: relative;
        width: var(--btn-icon-size);
        height: var(--btn-icon-size);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -20px;
        margin-bottom: -22px;
        margin-right: calc(2px - var(--btn-padd-x));
        transition: transform .1s ease-in-out;
        
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: var(--bs-btn-color);
            transition: transform .3s ease-in-out, background-color .3s ease-in-out;
        }

        svg {
            position: relative;
            stroke: var(--bs-btn-bg);
            fill: var(--bs-btn-bg);
        }
    }

    &.loading {
        --bs-btn-bg: var(--gray-color);
        --bs-btn-color: var(--white-color);
        --bs-btn-hover-bg: var(--gray-color);
        --bs-btn-hover-color: var(--white-color);
        --bs-btn-active-bg: var(--gray-color);
        --bs-btn-active-color: var(--white-color);
        cursor: wait;

        &.btn-component {
            &::before {
                display: none;
            }
        }
        
        .right-icon {
            &::before {
                transform: scale(0.85);
            }

            svg {
                stroke: var(--blue-light-color);
                fill: var(--blue-light-color);
                animation: rotation 2s linear infinite;
            }
        }

        &:hover, &.active, &:active {
        
            .right-icon {
                transform: scale(1);
            }
        }
    }
}

.loader {
    --main-color: var(--blue-light-color);
    width: 24px;
    aspect-ratio: 1;
    --c: no-repeat radial-gradient(farthest-side,var(--main-color) 92%,#0000);
    background: 
      var(--c) 50%  0, 
      var(--c) 50%  100%, 
      var(--c) 100% 50%, 
      var(--c) 0    50%;
    background-size: 4px 4px;
    animation: l18 1.3s linear infinite;
    position: relative;

    &::before {    
        content:"";
        position: absolute;
        inset:0;
        margin: 1px;
        background: repeating-conic-gradient(#0000 0 35deg,var(--main-color) 0 90deg);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 2px),#000 0);
        border-radius: 50%;
    }
}

@keyframes l18 { 
    100%{transform: rotate(1turn)}
}

.btn-primary {
    --bs-btn-hover-bg: var(--blue-light-color);
    --bs-btn-active-bg: var(--blue-light-color);

    &:hover, &.active, &:active {
        --btn-outline-border: var(--blue-light-color);

        .right-icon {

            &::before {
                transform: scale(0.85);
            }
        }
    }
}

.btn-white {
    --bs-btn-bg: var(--white-color);
    --bs-btn-color: var(--blue-color);
    --bs-btn-hover-bg: var(--white-color);
    --bs-btn-hover-color: var(--blue-light-color);
    --bs-btn-active-bg: var(--white-color);
    --bs-btn-active-color: var(--blue-light-color);

    &:hover, &.active, &:active {
        --btn-outline-border: var(--white-color);

        .right-icon {

            &::before {
                transform: scale(0.85);
                background-color: var(--blue-light-color);
            }
        }
    }
}

.btn-outline-primary {
    --bs-btn-border-width: 1px;
    --btn-padd-y: 11px;

    --bs-btn-bg: transparent;
    --bs-btn-color: var(--blue-color);

    &.btn-component {
        &::before {
            display: none;
        }
    }
}

.btn-link {
    --btn-gap: 8px;
    --btn-padd-x: 0px;
    --btn-padd-y: 0px;
    --bs-btn-hover-color: var(--blue-light-color);
    --bs-btn-active-color: var(--blue-light-color);
    text-decoration: none;
    text-transform: none;
}

.app-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1;
    }
}

.modal-backdrop {
    --bs-backdrop-bg: #353535;
    --bs-backdrop-opacity: 0.7;
}

.modal {
    --bs-modal-width: 636px;
    --bs-modal-border-radius: 22px;
    --bs-modal-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    
    .modal-content {
        padding: 48px;
        gap: 48px;
    }

    .modal-header {
        padding: 0;
        border-bottom: none;
        gap: 48px;
        align-items: flex-start;

        h3 {
            flex: 1;
        }

        .modal-close {
            margin-left: auto;
            display: flex;
            padding: 6px;
            cursor: pointer;

            &:hover {
                .icon {
                    stroke: var(--red-light-color);
                }
            }
        }

        .icon {
            stroke: var(--blue-color);
        }
    }

    .modal-body {
        padding: 0;
    }

    .modal-footer {
        padding: 0;
        border-top: none;
        justify-content: flex-start;
        gap: 24px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.circle-box {
    position: absolute;
    background-color: var(--blue-color);
    top: 3px;
    right: 3px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control {
    --bs-border-color: var(--blue-color);
    padding: 11px 24px;
    border-radius: 24px;
    line-height: inherit;
    
    &:focus {
        box-shadow: none;
        border-color: var(--blue-light-color);
    }
    
    &::placeholder {
        color: rgba($blue, 0.35);
    }
}

.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .form-control:valid,
.form-control.is-valid {
    background-image: none;
    
    &:focus {
        box-shadow: none;
    }
}

fieldset {
    --bs-form-valid-color: var(--green-black-color);
    --bs-form-valid-border-color: var(--green-color);
    --bs-form-invalid-color: var(--red-black-color);
    --bs-form-invalid-border-color: var(--red-light-color);

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .form-label {
        font-size: 0.875rem;
        padding-left: 24px;
        padding-bottom: 0;
        color: var(--dark-gray-color);
    }

    > div {
        position: relative;
    }

    .invalid-icon {
        background-color: var(--red-light-color);
        cursor: pointer;

        .icon {
            fill: var(--red-black-color);
            stroke: var(--red-black-color);
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        top: 8px;
        left: 10px;
        border-radius: 50%;
        background-color: var(--blue-color);
        transform: scale(0);
        transition: transform .3s ease-in-out, background-color .3s ease-in-out;
    }

    &.not-allowed {
        pointer-events: none;
    }

    &.is-invalid {
        &::before {
            background-color: var(--red-light-color);
            transform: scale(1);
        }
    }

    &.is-valid {
        &::before {
            background-color: var(--green-color);
            transform: scale(1);
        }
    }

    &.is-focus {
        &::before {
            background-color: var(--blue-light-color);
            transform: scale(1.5);
        }
    }
}

.form-check {
    display: flex;
    gap: 12px;
    padding: 4px 0 0;
    margin: 0;
    min-height: auto;

    .form-check-input {
        margin: 0;
        box-shadow: none;
    }

    .form-check-label {
        color: var(--dark-gray-color);
        cursor: pointer;
    }
}

.form-switch {
    .form-check-input {
        --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.5' fill='%23fff'/%3e%3c/svg%3e") !important;
        --bs-form-check-bg: var(--black-light-color);
        width: 32px;
        height: 20px;
        border-radius: 10px;
        border: none;
        margin-top: 1px;
    }
}

.tooltip {
    --bs-tooltip-max-width: 300px;
    --bs-tooltip-padding-x: 24px;
    --bs-tooltip-padding-y: 12px;
    --bs-tooltip-font-size: 1rem;
    --bs-tooltip-color: var(--white-color);
    --bs-tooltip-bg: var(--blue-color);
    --bs-tooltip-border-radius: 22px;
    --bs-tooltip-opacity: 1;

    &.error {
        --bs-tooltip-color: var(--red-black-color);
        --bs-tooltip-bg: var(--red-light-color);
    }
}

/*
.alert {
    --bs-alert-border-radius: 0;
    --bs-border-width: 0;
    --bs-alert-padding-x: 26px;
    --bs-alert-padding-y: 26px;
}
*/