@font-face {
    font-family: 'Hero';
    src: url('../font/Hero-Regular.woff2') format('woff2'),
        url('../font/Hero-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hero';
    src: url('../font/Hero-Bold.woff2') format('woff2'),
        url('../font/Hero-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DeleddaOpen';
    src: url('../font/DeleddaOpen.woff2') format('woff2'),
        url('../font/DeleddaOpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DeleddaOpen';
    src: url('../font/DeleddaOpen-Black.woff2') format('woff2'),
        url('../font/DeleddaOpen-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}