@font-face {
    font-family: 'Stolzl';
    src: url('../font/Stolzl-Regular.woff2') format('woff2'),
        url('../font/Stolzl-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl Book';
    src: url('../font/Stolzl-Book.woff2') format('woff2'),
        url('../font/Stolzl-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../font/Stolzl-Bold.woff2') format('woff2'),
        url('../font/Stolzl-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../font/Stolzl-Medium.woff2') format('woff2'),
        url('../font/Stolzl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}